<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>TicTacToe</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- persistence -->
    <script src="http://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script lang="javascript" src="dist/xlsx.core.min.js"></script>
    <script src="js/app.js"></script>
    <script src="cordova.js"></script>
  </head>
  <body ng-app="starter" ng-controller='mainControl'>
<!-- -->
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <button class="button button-icon icon ion-navicon"></button>
            <h1 class="title">TicTacToe{{titulo}}</h1>
            <button class="button button-icon" ng-click="choisePlayer()" ng-disabled="desactivarAdd()">
                <i class="ion-android-person-add"></i>
            </button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="p in currentsPlayers">
                    <a class="item item-icon-left">
                        <i class="icon ion-person-stalker"></i>
                            {{p.name}} ({{p.piece}})
                        <span class="badge badge-assertive">{{p.turn}} {{p.points}}</span>
                    </a>
                </ion-item>
            </ion-list>
            <div class="button-bar">
                <a class="button button-balanced button-outline" ng-click='putPiece(0)'>{{board[0]}}</a>
                <a class="button button-balanced button-outline" ng-click='putPiece(1)'>{{board[1]}}</a>
                <a class="button button-balanced button-outline" ng-click='putPiece(2)'>{{board[2]}}</a>
            </div>
            <div class="button-bar">
                <a class="button button-balanced button-outline" ng-click='putPiece(3)'>{{board[3]}}</a>
                <a class="button button-balanced button-outline" ng-click='putPiece(4)'>{{board[4]}}</a>
                <a class="button button-balanced button-outline" ng-click='putPiece(5)'>{{board[5]}}</a>
            </div>
            <div class="button-bar">
                <a class="button button-balanced button-outline" ng-click='putPiece(6)'>{{board[6]}}</a>
                <a class="button button-balanced button-outline" ng-click='putPiece(7)'>{{board[7]}}</a>
                <a class="button button-balanced button-outline" ng-click='putPiece(8)'>{{board[8]}}</a>
            </div>

        </ion-content>
        <div class="bar bar-footer bar-balanced">
            <div class="title">{{VS}}</div>
            <a class="button ion-social-github" href="https://github.com/luchojuarez/TicTacToeIonic"> fork me</a>
            <a class="button ion-ios-game-controller-b" ng-click="finishRound()" ng-disabled="!desactivarAdd()"> finish a round</a>
        </div>
    </ion-pane>

    <script id="menu.html" type="text/ng-template">
        <ion-side-menus>
        <!-- Left menu -->
            <ion-side-menu side="left">
            <div><a class="button ion-social-github" href="https://github.com/luchojuarez/TicTacToeIonic"> fork me</a></div>
            </ion-side-menu>

            <ion-side-menu-content>
            <!-- Main content, usually <ion-nav-view> -->
            </ion-side-menu-content>

            <!-- Right menu -->
            <ion-side-menu side="right">
            </ion-side-menu>

        </ion-side-menus>
    </script>

    <script id="new-player.html" type="text/ng-template">

        <div class="modal">
        <ion-header-bar class="bar-secondary">
            <h1 class="title">New player</h1>
            <button class="button button-clear button-balanced" ng-click="closeNewPlayer()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>
            <form ng-submit="setPlayer(playerName)">
                <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="player name" ng-model="playerName" required autofocus="autofocus" >
                </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-balanced">submit</button>
                </div>
            </form>
            <button class="button button-block button-balanced" ng-click="closeNewPlayer();showChoisePlayer()" autofocus="autofocus">Or load saved player</button>

        </ion-content>

        </div>

    </script>
    <script id="error.html" type="text/ng-template">
        <div class="modal">
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Error: {{err}}</h1>
            </ion-header-bar>

            <ion-content>
                <button type="submit" class="button button-block button-balanced" ng-click='closeError()'>Acept</button>
            </ion-content>
        </div>
    </script>

    <script id="win.html" type="text/ng-template">
        <div class="modal">
            <ion-header-bar class="bar-secondary">
            <h1 class="title">{{current.name}} wins a round</h1>
            </ion-header-bar>

            <ion-content>
                <ion-item ng-repeat="p in currentsPlayers">
                    <a class="item item-icon-left">
                        <i class="icon ion-person-stalker"></i>
                            {{p.name}} ({{p.piece}})
                        <span class="badge badge-assertive">{{p.points}}</span>
                    </a>
                </ion-item>
                <button type="submit" class="button button-block button-balanced" ng-click='closeWin()' autofocus="autofocus">Acept</button>
            </ion-content>
        </div>
    </script>
    <script id="choisePlayer.html" type="text/ng-template">

        <div class="modal">
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Choise player</h1>
            <button class="button button-clear button-balanced" ng-click="closeChoisePlayer()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>
        <ion-item ng-repeat="p in savedPlayers">
            <a class="item item-icon-left item-icon-right" ng-click='choisePlayer(p);'>
                <div>
                    <i class="icon ion-person-stalker"></i>
                    <h2>{{p.name}}</h2>
                    <p>total points {{p.points}}</p>
                </div>
            </a>
            <button ng-click='deletePlayer(p)' class="button button-clear button-balanced">Delete</button>
        </ion-item>

        </ion-content>

        </div>

    </script>
  </body>
</html>
